@use '../util/breakpoints.scss' as *;
@use '../util/functions.scss' as *;
@use '../util/mixins.scss' as *;

.form {
    width: min(95%, rem(450));

    @include breakpoint-down(medium) {
        margin: 0 auto;
    }

    input, textarea {
        @include transition;

        &:focus {
            outline: 1px solid var(--blue);
        }

        &:not(:first-child) {
            margin-top: 1.8rem !important;
        }
    }

    button {
        @include transition(opacity);

        &:hover {
            opacity: .8;
        }

        &:disabled {
            opacity: .2;
            pointer-events: none;
        }
    }

    i {
        opacity: .5;
    }
}